/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

/* 任意のCSSファイル */
.blue {
  color: blue; /* 土曜日のセルの背景色を青色に設定 */
}

.red {
  color: red; /* 日曜日のセルの背景色を赤色に設定 */
}

.btn-custom {
  background-color: #ffffff; /* ボタンの背景色を青に変更 */
  color: #000000; /* ボタンのテキスト色を白に変更 */
}
.btn-custom:hover {
  background-color: #c1d9f2; /* マウスを乗せたときの背景色 */
}

.btn-attendance {
  /* ボタンのスタイル */
  width: 150px; /* ボタンの幅 */
  height: 20px; /* ボタンの高さ */ 
  align-items: center;
  justify-content: flex-start; /* 水平方向に左揃え */
  
}
.btn-text {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 25px;
  line-height: 1; /* 行の高さ */
  margin-top: -2px; /* テキストの位置を調整するためのマージン */
  padding-left: 40px;/* 左側にパディングを追加してテキストの開始位置を調整 */
  padding-top: 3px;
}


